In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import unicodedata
import datetime as dt
import numpy as np
import sqlalchemy
import mysql.connector
import cufflinks as cf
import chart_studio.plotly as py
import seaborn as sns
import plotly.express as px
from plotly.offline import download_plotlyjs
from urllib.parse import quote  
from sqlalchemy.engine import create_engine
%matplotlib inline

# Create cities data

In [9]:
url_cities = 'https://en.wikipedia.org/wiki/List_of_European_cities_by_population_within_city_limits'
response_cities = requests.get(url_cities)
print(response_cities.status_code)
soup = BeautifulSoup(response_cities.text, 'html.parser')

200

city name, country, latitude, longitude, and population

In [10]:
# List of the European cities
cities = ['Berlin','Paris','Budapest','Barcelona','Rome','Warsaw','Prague','Vienna','Madrid', 'London', 'Hamburg', 'Munich', 'Milan', 'Birmingham', 'Cologne' ]
cities.sort()
cities

['Barcelona',
 'Berlin',
 'Birmingham',
 'Budapest',
 'Cologne',
 'Hamburg',
 'London',
 'Madrid',
 'Milan',
 'Munich',
 'Paris',
 'Prague',
 'Rome',
 'Vienna',
 'Warsaw']

In [11]:
city_table = soup.find('table', class_ = 'wikitable sortable')

In [12]:
city_id = []
city = []
country = []
population = []
geo = []
for i in city_table.find_all('tbody'):
    rows = i.find_all('tr')
    id = 0
    for row in rows:
        a = row.find('a').text.strip()
        if a in cities:
            city_id.append(id)
            id = id + 1
            city.append(a)
            country.append(row.find_all('td')[2].text.strip())
            population.append(row.find_all('td')[3].text.strip())
            geo.append(row.find('span', class_ = 'geo').text.strip()) # First latitude then longitude


cities_df = pd.DataFrame({'city_id':city_id, 'city':city, 'country':country, 'population':population, 'geo':geo})

In [13]:
cities_df

    city_id        city         country population                   geo
0         0      London  United Kingdom  9,002,488    51.507222; -0.1275
1         1      Berlin         Germany  3,664,088  52.516667; 13.383333
2         2      Madrid           Spain  3,305,408  40.383333; -3.716667
3         3        Rome           Italy  2,844,750            41.9; 12.5
4         4       Paris          France  2,139,907       48.8567; 2.3508
5         5      Vienna         Austria  1,931,830       48.2; 16.366667
6         6     Hamburg         Germany  1,852,478  53.565278; 10.001389
7         7      Warsaw          Poland  1,792,718  52.233333; 21.016667
8         8    Budapest         Hungary  1,723,836    47.4925; 19.051389
9         9   Barcelona           Spain  1,636,732   41.383333; 2.183333
10       10      Munich         Germany  1,488,202  48.133333; 11.566667
11       11       Milan           Italy  1,374,582   45.466667; 9.183333
12       12      Prague  Czech Republic  1,275,406  50.083333; 14.416667
13       13  Birmingham  United Kingdom  1,140,525  52.483056; -1.893611
14       14     Cologne         Germany  1,083,498   50.936389; 6.952778

Split geo into latitude and longitude

In [14]:
cities_df[['lat', 'long']] = cities_df.geo.str.split(';', 1 ,expand=True)
cities_df.drop('geo', inplace=True, axis=1)

In [15]:
cities_df['population'] = cities_df['population'].str.replace(',', '')
cities_df['population'] = pd.to_numeric(cities_df['population'])
cities_df['lat'] = pd.to_numeric(cities_df['lat'])
cities_df['long'] = pd.to_numeric(cities_df['long'])

In [16]:
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city_id     15 non-null     int64
 1   city        15 non-null     object
 2   country     15 non-null     object
 3   population  15 non-null     int64
 4   lat         15 non-null     float64
 5   long        15 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 848.0+ bytes

# Create weather data

1. Explore the data received from the API. What’s useful? What’s not?

In [17]:
def get_weather_forecast(cities, countries):
    base_url = "http://api.openweathermap.org/data/2.5/forecast?"
    api_key = "afecebe416a7396ac8fe6211faa11afd"
    units = "metric"
    language = "en"
    forecast_df = pd.DataFrame()
    for i in range(len(cities)):
        url = base_url + 'q=' + cities[i] + ',' + countries[i] + '&appid=' + api_key + '&units=' + units + '&lang=' + language
        forecast_api = requests.get(url)
        forecast_json = forecast_api.json()
        forecast_list = []
        for forecast in forecast_json['list']:
            forecast_dict = {}
            forecast_dict['forecast_time'] = dt.datetime.utcfromtimestamp(forecast['dt'])
            forecast_dict['weather_category'] = forecast['weather'][0]['main']
            forecast_dict['outlook'] = forecast['weather'][0]['description']
            forecast_dict['temperature'] = forecast['main']['temp']
            forecast_dict['temp_feelslike'] = forecast['main']['feels_like']
            forecast_dict['wind_speed'] = forecast['wind']['speed']
            forecast_dict['precipitation'] = forecast['pop']
            try: forecast_dict['rain_vol'] = forecast['rain']['3h']
            except: forecast_dict['rain_vol'] = 0
            try: forecast_dict['snow_vol'] = float(forecast['snow']['3h'])
            except: forecast_dict['snow_vol'] = 0
            forecast_dict['city'] = cities[i]
            forecast_dict['country'] = countries[i]
            forecast_list.append(forecast_dict)
    
        forecast_df = pd.concat([forecast_df, pd.DataFrame(forecast_list)], ignore_index=True)
    return forecast_df

In [18]:
forecast_df = get_weather_forecast(cities_df['city'], cities_df['country'])

In [19]:
forecast_df.head()

,forecast_time,weather_category,outlook,temperature,temp_feelslike,wind_speed,precipitation,rain_vol,snow_vol,city,country
0,2022-08-05 12:00:00,Clouds,few clouds,20.26,19.36,3.99,0.0,0.0,0,London,United Kingdom
1,2022-08-05 15:00:00,Clear,clear sky,22.16,21.24,3.87,0.0,0.0,0,London,United Kingdom
2,2022-08-05 18:00:00,Clouds,few clouds,21.66,20.72,6.11,0.0,0.0,0,London,United Kingdom
3,2022-08-05 21:00:00,Clear,clear sky,18.28,17.23,4.01,0.0,0.0,0,London,United Kingdom
4,2022-08-06 00:00:00,Clouds,broken clouds,16.23,15.11,3.22,0.0,0.0,0,London,United Kingdom

# Get Flights Data

In [20]:
# ICAO code 
icao_codes = ['LEBL', 'EDDB', 'EGBB', 'LHBP', 'EDDK', 'EDDH', 'EGLL', 'LEMD', 'LIMC', 'EDDM', 'LFPG', 'LKPR', 'LIRF', 'LOWW', 'EPWA']

airport_city_df = pd.DataFrame({'city':cities_df['city'], 'icao_code':icao_codes})

In [21]:
airport_city_df

          city icao_code
0       London      LEBL
1       Berlin      EDDB
2       Madrid      EGBB
3         Rome      LHBP
4        Paris      EDDK
5       Vienna      EDDH
6      Hamburg      EGLL
7       Warsaw      LEMD
8     Budapest      LIMC
9    Barcelona      EDDM
10      Munich      LFPG
11       Milan      LKPR
12      Prague      LIRF
13  Birmingham      LOWW
14     Cologne      EPWA

In [22]:
def get_flight_arrivals(cities, codes, city_id):
    flight_arrival = []
    d = dt.date.today() + dt.timedelta(days=1)
    date = d.strftime("%Y-%m-%d")
    #template_url = "https://aerodatabox.p.rapidapi.com/flights/airports/icao/code/dateT08:00/dateT20:00"
    base_url = "https://aerodatabox.p.rapidapi.com/flights/airports/icao/"
    querystring = {"withLeg":"true","withCancelled":"true","withCodeshared":"true","withCargo":"true","withPrivate":"true","withLocation":"false"}

    headers = {
	"X-RapidAPI-Key": "b18a1f57a3msh96cfe865e0df904p1c9271jsna93301e00330",
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com"
    }


    flight_arrival_df = pd.DataFrame()

    for i in range(len(cities)):
        url = base_url + codes[i] + '/' + date + 'T08:00/' + date + 'T20:00'
        response = requests.request("GET", url, headers=headers, params=querystring)
        response_json = response.json()
        
        arrivals_list = []
        for arrival in response_json['arrivals']:
            arrival_dict = {}
            arrival_dict['city_id'] = city_id[i]
            arrival_dict['from'] = arrival['departure']['airport']['name']
            arrival_dict['arrival_time_local'] = arrival['arrival']['scheduledTimeLocal']
            try: arrival_dict['terminal'] = arrival['arrival']['terminal']
            except: arrival_dict['terminal'] = 'unknown'
            try: arrival_dict['aircraft'] = arrival['aircraft']['model']
            except: arrival_dict['aircraft'] = 'unknown'
            arrival_dict['airline'] = arrival['airline']['name']
            arrival_dict['flight_number'] = arrival['number']
            arrival_dict['isCargo'] = arrival['isCargo']
            arrivals_list.append(arrival_dict)
 
        flight_arrival_df = pd.concat([flight_arrival_df, pd.DataFrame(arrivals_list)], ignore_index=True)
    return flight_arrival_df

In [23]:
flight_arrival_df = get_flight_arrivals(cities_df['city'], icao_codes, cities_df['city_id'])
flight_arrival_df['arrival_time_local'] = pd.to_datetime(flight_arrival_df['arrival_time_local'])

# Check the Tables

In [24]:
cities_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city_id     15 non-null     int64
 1   city        15 non-null     object
 2   country     15 non-null     object
 3   population  15 non-null     int64
 4   lat         15 non-null     float64
 5   long        15 non-null     float64
dtypes: float64(2), int64(2), object(2)
memory usage: 848.0+ bytes

In [25]:
forecast_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   forecast_time     600 non-null    datetime64[ns]
 1   weather_category  600 non-null    object
 2   outlook           600 non-null    object
 3   temperature       600 non-null    float64
 4   temp_feelslike    600 non-null    float64
 5   wind_speed        600 non-null    float64
 6   precipitation     600 non-null    float64
 7   rain_vol          600 non-null    float64
 8   snow_vol          600 non-null    int64
 9   city              600 non-null    object
 10  country           600 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 51.7+ KB

In [26]:
airport_city_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   city       15 non-null     object
 1   icao_code  15 non-null     object
dtypes: object(2)
memory usage: 368.0+ bytes

In [27]:
flight_arrival_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5534 entries, 0 to 5533
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city_id             5534 non-null   int64
 1   from                5534 non-null   object
 2   arrival_time_local  5534 non-null   object
 3   terminal            5534 non-null   object
 4   aircraft            5534 non-null   object
 5   airline             5534 non-null   object
 6   flight_number       5534 non-null   object
 7   isCargo             5534 non-null   bool
dtypes: bool(1), int64(1), object(6)
memory usage: 308.2+ KB

# Update the data into database

In [28]:
con = create_engine('mysql+mysqlconnector://admin:%s@localhost:3306/gans' % quote('komal123'))
con

Engine(mysql+mysqlconnector://admin:***@localhost:3306/gans)

In [29]:
(
cities_df
    .dropna()
    .rename(
        columns={
            'lat':'latitude',
            'long':'longitude'
            }
        )
    .to_sql('cities', con=con, if_exists='append', index=False)
    )

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1045 (28000): Access denied for user 'admin'@'localhost' (using password: YES)
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
airport_city_df.dropna().to_sql('airports_cities', if_exists='append', con=con, index=False)

15

In [ ]:
forecast_df.to_sql('weather', if_exists='append', con=con, index=False)

600

In [ ]:
flight_arrival_df.to_sql('arrivals', if_exists='append', con=con, index=False)

6193